<div class="navbar">

    <div class="transparent-button-wrapper">
        <button class="tranparentBtn" [routerLink]="['/home']" mat-flat-button>Home</button>
    </div>

    <div *ngIf="role=='ROLE_SECURITY'" class="transparent-button-wrapper">
        <button [routerLink]="['certificate-requests']" [queryParams]="{title: 'Certificate requests'}" class="tranparentBtn" mat-flat-button >Certificate requests</button>
    </div>

    <div *ngIf="role=='ROLE_SECURITY'" class="transparent-button-wrapper">
        <button [routerLink]="['certificates']" [queryParams]="{title: 'Certificates'}" class="tranparentBtn" mat-flat-button >Certificates</button>
    </div>

    <div *ngIf="role=='ROLE_ADMIN'" class="transparent-button-wrapper">
        <button [routerLink]="['user-reports']" [queryParams]="{title: 'User reports'}" class="tranparentBtn" mat-flat-button >User reports</button>
    </div>

    <div *ngIf="role=='ROLE_ADMIN'" class="transparent-button-wrapper">
        <button [routerLink]="['reviews']" [queryParams]="{title: 'Reviews'}" class="tranparentBtn" mat-flat-button >Reviews</button>
    </div>
  
    <div *ngIf="role=='ROLE_ADMIN'" class="transparent-button-wrapper">
        <button [routerLink]="['pending-accommodations']" [queryParams]="{title: 'Pending accommodations'}" class="tranparentBtn" mat-flat-button >Accommodations</button>
    </div>


    <div *ngIf="role=='ROLE_HOST'" class="transparent-button-wrapper">
        <button [routerLink]="['reservation-requests']" [queryParams]="{title: 'Reservation requests'}" class="tranparentBtn" mat-flat-button >Reservations</button>
    </div>

    <div *ngIf="role=='ROLE_HOST'" class="transparent-button-wrapper">
        <button [routerLink]="['report-users']" [queryParams]="{title: 'Report a guest'}" class="tranparentBtn" mat-flat-button >Report a guest</button>
    </div>

    <div *ngIf="role=='ROLE_HOST'" class="transparent-button-wrapper">
        <button [routerLink]="['host-reviews/' + id]" [queryParams]="{title: 'Host reviews'}" class="tranparentBtn" mat-flat-button >Reviews of me</button>
    </div>

    <div *ngIf="role=='ROLE_HOST'" class="transparent-button-wrapper">
        <button [routerLink]="['my-accommodations']" [queryParams]="{title: 'My accommodations'}" class="tranparentBtn" mat-flat-button >Accommodations</button>
    </div>



    <div *ngIf="role=='ROLE_GUEST'" class="transparent-button-wrapper">
        <button [routerLink]="['favorites']" [queryParams]="{title: 'My favorites'}" class="tranparentBtn" mat-flat-button >Favorites</button>
    </div>


    <div *ngIf="role=='ROLE_GUEST'" class="transparent-button-wrapper">
        <button [routerLink]="['reservation-requests']" [queryParams]="{title: 'My requests'}" class="tranparentBtn" mat-flat-button >Requests</button>
    </div>

    <div *ngIf="role=='ROLE_GUEST'" class="transparent-button-wrapper">
        <button [routerLink]="['report-users']" [queryParams]="{title: 'Report a host'}" class="tranparentBtn" mat-flat-button >Report a host</button>
    </div>

    
    <div *ngIf="role=='ROLE_GUEST' || role=='ROLE_HOST'" class="transparent-button-wrapper">
        <button [routerLink]="['notifications']" [queryParams]="{title: 'Notifications'}" class="tranparentBtn" mat-flat-button >Notifications</button>
    </div>


    <div *ngIf="role=='ROLE_ADMIN' || role=='ROLE_HOST' || role=='ROLE_GUEST'" class="transparent-button-wrapper">
        <button (click)="openAccountManagement()" class="tranparentBtn" mat-flat-button >Profile</button>
    </div>
    
    <div *ngIf="role!='ROLE_ADMIN' && role!='ROLE_HOST' && role!='ROLE_GUEST' && role!='ROLE_SECURITY'" class="dark-orange-button-wrapper">
        <button (click)="login()" class="orangeBtn" mat-flat-button >Log in</button>
    </div>

    <div *ngIf="role=='ROLE_ADMIN' || role=='ROLE_HOST' || role=='ROLE_GUEST' || role=='ROLE_SECURITY'" class="dark-orange-button-wrapper">
        <button (click)="logout()" class="orangeBtn" mat-flat-button >Log out</button>
    </div>

</div>
