<div  style="padding: 0 100px;">
    <!-- Search Bar -->
    <div class="search-bar-container" style="margin-top: 50px;">
      <div class="search-bar-content">
        <div class="search-input">
          <mat-form-field>
            <input matInput placeholder="Location" [(ngModel)]="searchBarValues.location"/>
          </mat-form-field>
        </div>
    
        <div class="search-input">
          <mat-form-field>
            <input matInput [matDatepicker]="checkInDatePicker" placeholder="Check-In Date" [(ngModel)]="searchBarValues.startDate" [matDatepickerFilter]="startDateFilter"/>
            <mat-datepicker-toggle matSuffix [for]="checkInDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #checkInDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
    
        <div class="search-input">
          <mat-form-field>
            <input matInput [matDatepicker]="checkOutDatePicker" placeholder="Check-Out Date" [(ngModel)]="searchBarValues.endDate" [matDatepickerFilter]="endDateFilter"/>
            <mat-datepicker-toggle matSuffix [for]="checkOutDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #checkOutDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
    
        <div class="search-input">
          <mat-form-field>
            <input id="not-a-pass-field" matInput type="number" placeholder="Number of Guests" [(ngModel)]="searchBarValues.guestNumber" autocomplete="off"/>
          </mat-form-field>
        </div>
        
        <div class="search-button">
          <button mat-button (click)="searchAndFilterAccommodations()">
            <span class="icon-button">
              Search
              <mat-icon>search</mat-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  
    <div class="just-button-container">
      <div class="filter-button">
        <button mat-button class="button icon-button" (click)="openFilterDialog()">
            <span class="icon-button">
            Filter
            <mat-icon>filter_list</mat-icon>
          </span>
        </button>
      </div>
    </div>

    <mat-grid-list gutterSize="16" cols="5" rowHeight="330">
        <mat-grid-tile *ngFor="let accommodation of accommodations" colspan="1">
          <app-accommodation-card [accommodation]="accommodation"></app-accommodation-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="just-button-container">
      <div class="show-more-button">
        <button mat-button>
          <span>Show More</span>
        </button>
      </div>
    </div>
</div>