<div class="review">
    <div class="review-details">
        <div class="user-info">
            <img [src]="imagePath" alt="User 1" class="user-image">
            <div class="user-text">
                <span style="margin-left: 10px; font-size: 16px;">{{ review.authorUsername }}</span>
                <span style="margin-left: 10px; color: grey;">{{ review.timestamp | date:'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <div class="stars">
            <div class="star-container">
                <mat-icon class="star full">star</mat-icon>
            </div>
            <div class="star-container">
                <p class="rating">{{ review.rating }}</p>
            </div>
        </div>
    </div>
    <div class="comment">
        <p>{{ review.comment }}</p>
    </div>
    <div class="delete-container">
        <button mat-raised-button class="button delete-btn" *ngIf="guest==review.authorUsername" (click)="openDialog()">Delete review</button>
        <button mat-raised-button class="button delete-btn" *ngIf="canReport && !review.isProcessed" (click)="changeReportedStatus()">Report review</button>
        <button mat-raised-button class="button restore-btn" *ngIf="canReport && review.isProcessed" (click)="changeReportedStatus()">Withdraw report</button>
    </div>
</div>