@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~leaflet/dist/leaflet.css";

body {
    margin: 0;
}

.page {
    height: fit-content;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    padding: 30px 60px 40px 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.section {
    width:100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.label {
    width: 40%;
    text-align: left;
    font-size: 16px;
}

.radio-label {
    width: 40%;
    text-align: left;
    font-size: 16px;
}

.radio-group {
    margin: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.button {
    /* font-weight: bold; */
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

h3{
    color:#ABDFF1
}
/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.dark-blue-button-wrapper ::ng-deep .blueBtn {
    background-color: #0C4A60;
    color: white;
}

.dark-orange-button-wrapper ::ng-deep .orangeBtn {
    background-color: #EF6C33;
    color: white;
}

.grey-button-wrapper ::ng-deep .greyBtn {
    background-color: #F1F0EF;
    color: #0C4A60;
}

.grey-button-wrapper ::ng-deep ::selection .greyBtn {
    background-color: #F1F0EF;
}

.transparent-button-wrapper ::ng-deep .tranparentBtn {
    background-color: transparent;
    color: #0C4A60;
    outline: none;
}

.errorMessage {
    color:#EF6C33;
    font-size: small;
    line-height: 1.4;
}
