<div class="review">
    <div class="review-details">
        <div class="user-info">
            <div class="stars">
              <div class="star-container" (click)="rateStar(1)">
                <mat-icon class="star" *ngIf = "!stars[0]">star_border</mat-icon>
                <mat-icon class="star full" *ngIf = "stars[0]">star</mat-icon>
              </div>
              <div class="star-container" (click)="rateStar(2)">
                <mat-icon class="star" *ngIf = "!stars[1]">star_border</mat-icon>
                <mat-icon class="star full" *ngIf = "stars[1]">star</mat-icon>
              </div>
              <div class="star-container" (click)="rateStar(3)">
                <mat-icon class="star" *ngIf = "!stars[2]">star_border</mat-icon>
                <mat-icon class="star full" *ngIf = "stars[2]">star</mat-icon>
              </div>
              <div class="star-container" (click)="rateStar(4)">
                <mat-icon class="star" *ngIf = "!stars[3]">star_border</mat-icon>
                <mat-icon class="star full" *ngIf = "stars[3]">star</mat-icon>
              </div>
              <div class="star-container" (click)="rateStar(5)">
                <mat-icon class="star" *ngIf = "!stars[4]">star_border</mat-icon>
                <mat-icon class="star full" *ngIf = "stars[4]">star</mat-icon>
              </div>
              <div class="star-container">
                <p class="rating" *ngIf="rating!=0">{{ rating }}</p>
              </div>
            </div>
        </div>
        <h2 class="error" *ngIf="noRating">Please rate the host between 1 and 5 stars.</h2>
    </div>
    <mat-form-field style="width: 100%;">
      <textarea matInput [(ngModel)]="comment" placeholder="Write your review..." maxlength="255"></textarea>
    </mat-form-field>
    <div class="just-button-container">
        <div class="show-more-button">
          <button mat-button (click)="saveReview()">
            <span>Submit review</span>
          </button>
        </div>
      </div>
</div>