#buttons {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
  
  #buttons button {
    line-height: 1.7;
    height: fit-content;
    margin-left: 16px;
    margin-right: 16px;
  }

.small-form {
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #F1F0EF;
}

.wider-field {
  width: 300px;
}
