<div class="page">
    <div class="small-form">

      
      <form [formGroup]="changePasswordForm">
        <mat-form-field class="wider-field">
          <mat-label>Current password</mat-label>
          <input matInput name="oldPassword" type="password" formControlName="oldPassword" />
        </mat-form-field>
        <br/>
        <mat-form-field class="wider-field">
          <mat-label>New password</mat-label>
          <input matInput type="password" name="newPassword" formControlName="newPassword" />
        </mat-form-field>
        <br/>
        <mat-form-field class="wider-field">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" name="repeatPassword" formControlName="repeatPassword" />
        </mat-form-field>

        <div class="errorMessage" *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('repeatPassword')?.touched">
          Passwords do not match.
        </div>

        <div class="errorMessage" *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')">
          The password should have at least one uppercase letter,<br/> one lowercase letter and a number.<br/>
          It should be between 8 and 20 characters in length.
        </div>
          
      </form>


      <div id="buttons">
      
        <div  class="grey-button-wrapper">
          <button [routerLink]="['/profile']" [queryParams]="{title: 'My profile'}" class="greyBtn" mat-raised-button>Cancel changes</button>
        </div>
    
        <div class="dark-blue-button-wrapper">
            <button (click)="changePassword()" type="submit" class="blueBtn" mat-raised-button>Save changes</button>
        </div>
      </div>

    </div>
</div>