[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca # The extensions to add to the self-signed cert

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = US
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = California
localityName                = Locality Name (eg, city)
localityName_default        = San Francisco
organizationName            = Organization Name (eg, company)
organizationName_default    = My Company
commonName                  = OpenDoors
commonName_default          = mydomain.com

[ req_ext ]
subjectAltName = DNS:localhost, DNS:localhost*

[ v3_ca ]
subjectAltName = DNS:localhost, DNS:localhost*

[my_ext]
keyUsage = keyEncipherment, digitalSignature
extendedKeyUsage = serverAuth

