<mat-card>
    <div class="request-card">
    
        <div class="details-and-buttons">
            <div class="details">
                <h2 class="row accommodation-name">{{request.accommodationName ? request.accommodationName : 'No accommodation name'}}</h2>
                <div class="row blue-letters">Request ID: {{ request.id }}</div>
                <div class="row">{{ request.startDate| date:'dd.MM.yyyy' }} - {{ request.endDate| date:'dd.MM.yyyy.' }}</div>
                <div class="row blue-letters">Status: {{ request.status }}</div>
                <div class="row orange-letters">Guest: {{ request.guestUsername }}</div>
                <div class="row grey-letters">The guest has cancelled {{ request.cancelledNumber }} time(s).</div>
                <div class="row">Number of guests: {{ request.guestNumber }}</div>
                <div class="row">Total price: {{ request.totalPrice }}</div>
            </div>
    
            <div class="buttons-container" *ngIf="isRequestPending()">
                <div class="deny-button" >
                    <button mat-button (click)="deny()">
                    <span>Deny</span>
                </button>
                </div>
                <div class="confirm-button">
                    <button mat-button (click)="confirm()">
                        <span>Confirm</span>
                    </button>
                </div>
            </div>
        </div>
    
    </div>
    </mat-card>