<div class="review">

        <div class="user-info">
            <span>{{ report.complainantUsername }}</span>
            <span class="grey-letters">{{ report.timestamp | date:'dd/MM/yyyy' }}</span>
            <span class="grey-letters">Status: {{report.status}}</span>
        </div>

    <b>{{report.recipientUsername}}</b>
    <div class="comment">
        <p>{{ report.reason}}</p>
    </div>

    <div class="buttons" *ngIf="report.status == 'active'">
        <button mat-raised-button class="dismiss-btn" (click)="dialogDismiss()">Dismiss report</button>
        <button mat-raised-button class="block-btn" (click)="dialogBlock()">Block user</button>
    </div>
</div>